
{{>head}}
<body>
    <form>
        <h1 class="l">Datos personales</h1>
        <input class="input-1" type="text" placeholder="Nombre">
        <input class="input-2" type="text" placeholder="">
    </form>
</body>
</html>