<footer id="footer" class="col-12 col-sm-6 col-lg-3">
            <div class="footer-item-1"><iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.635833003399!2d-70.68989710321048!3d19.428134399999994!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb1cf13c66441fb%3A0x95f5e7befce001bf!2sFerreteria%20La%20Cruz!5e0!3m2!1ses-419!2sdo!4v1777167084689!5m2!1ses-419!2sdo" width="170" height="170" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe></div>
            <div class="footer-item-2">
                <i>📞</i>
                <h3>Teléfono</h3>
                <p>+1 829-325-0574</p>
            </div>
            <div class="footer-item-3"></div>
            <div class="footer-item-4"></div>
    </footer>