{{!
    CABECERA GENERAL DE MI PROYECTO (head.hbs)
    
    Acá pongo el inicio de mi archivo HTML, las configuraciones básicas (meta tags),
    los enlaces a mis archivos CSS locales, las fuentes y Bootstrap para el diseño responsivo.
}}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS'FERRETERY - Mi Ferretería</title>

    <!-- Hojas de estilo CSS que hice yo para cada página de mi sitio web -->
    <link rel="stylesheet" href="/css/proyecto.css">       <!-- Estilos del inicio de mi página -->
    <link rel="stylesheet" href="/css/register.css">       <!-- Estilos para mi página de registro -->
    <link rel="stylesheet" href="/css/login.css">          <!-- Estilos para mi página de login -->
    <link rel="stylesheet" href="/css/materiales.css">     <!-- Estilos para mi sección de materiales pesados -->
    <link rel="stylesheet" href="/css/checkout.css">       <!-- Estilos para mi pantalla de pago final -->

    <!-- Enlazo mis fuentes personalizadas de Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap"
        rel="stylesheet">

    <!-- Enlazo el framework de diseño Bootstrap CSS para que se adapte a celulares -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>

<body class="body">
    <!-- El cuerpo del body inicia acá y lo cierro al final de mis páginas -->