<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS'FERRETERY</title>
    <link rel="stylesheet" href="/css/proyecto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="body">
    <div class="fondo">
        <nav class="navbar navbar-expand-lg navbar-ferreteria">
            <div class="container-fluid">

                <a class="navbar-brand" href="/">
                    <img src="/img/logo-2.png" alt="AS Ferretería" id="logo">
                </a>

                <button class="navbar-toggler" type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#menuPrincipal">
                    <span class="navbar-toggler-icon"></span>
                </button>

                <div class="collapse navbar-collapse" id="menuPrincipal">
                    <ul class="navbar-nav me-auto">
                        <li class="nav-item">
                            <a class="nav-link" href="#hh">Sobre Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#catalogo-p">Catálogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Contactanos</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#footer">Ubicación</a>
                        </li>
                    </ul>

                <div class="botones-nav">
                    <a href="/register" class="btn-nav">Register</a>
                    <a href="/login" class="btn-nav">Login</a>
                </div>
            </div>
    </div>
        </nav>