<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS'FERRETERY</title>
    <link rel="stylesheet" href="/css/proyecto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
</head>
<body class="body">
    <div class="fondo">
        <ul>
            <li class="nav-items-logo"><img id="logo" src="/img/logo-2.png" alt="no carga"></li>
            {{!-- <li class="nav-items-inicio"><a href="../layouts/index.html"style="text-decoration: none;" class="a-2">Inicio</a></li> --}}
            <li class="nav-items-sobre-Nosotros"><a href="#hh"  class="a-2">Sobre Nosotros</a></li>
            <li class="nav-items-catalogo"><a href="#catalogo-p" class="a-2">Catálogo</a></li>
            <li class="nav-items-contactanos"><a href="#footer" class="a-2">Contactanos</a></li>
            <li class="nav-items-ubicacion"><a href="#footer" class="a-2">Ubicación</a></li>
            <div class="RL">
                <div class="nav-items-register"><a class="a-2" href="/register"><p class="register">Register</p></a></div>
                <div class="nav-items-login"><a class="a-2" href="../layouts/./login.html"><p class="login">Login</p></a></div>
            </div>
        </ul>