*{
    margin: 0;

}
body{
    box-sizing: border-box;
    background-color: #1a1f1e;
    font-family: "Roboto Condensed", sans-serif;
}
.fondo{
    width: 100%;
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.fondo-img{
    width: 100%;
    height: 100%;
}
ul{
    
    position: absolute;
    display: flex;
    padding: 12px;
    background-color: transparent;
    list-style: none;
    text-decoration:  none;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    position: fixed;
}

a{
    text-decoration: none;
    color: #fff;
    transition: all 1s;
}
a:hover{
    color: #FF5F00;
}
#logo{
    width: 130px;
    height: 120px;
    
}
.nav-items-register , .nav-items-login{
    background-color: #FF5F00;
    width: 100px;
    height: 30px;
    display: flex;
    justify-content: center;
    border-radius: 10px;


}
.register , .login{
    margin-top: 5px
}
.nav-items-register{
    margin-left: 20px;
    
}
.nav-items-login{
    margin-right: 50px;
}
.nav-items-sobre{
    margin-left: 170px;
}
.RL{
    display: flex;
    width: 300px;
    justify-content: space-around;
    margin-left: 190px;
}
.search-input{
    position: absolute;
    margin-top: 200px;
    margin-left: 32%;
    width: 440px;
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
    color: #FF5F00;
    border:none;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}
.icon-s{
    position: absolute;
    margin-top: 205px;
    margin-left: 62%;
}

h1{
    color: #FF5F00;
    margin-top: 10px;
    font-size: 50px;
}

.h{
    position: absolute;
    margin-top: 100px;
    font-size: 45px;
    color: #00576A;

}
.button-c{
    height: 40px;
    width: 200px;
    position: absolute;
    margin-top: 700px;
    margin-left: 160px;
    background-color: #FF5F00;
    display: flex;
    justify-content: center;
    border-radius: 10px;
    

    
}

.p-catalogo{
    margin-top: 10px;
}


.catalogo-tema{
    margin-top: 200px;
    margin-left: 40%;
}
#catalogo-p{
    font-size: 100px;
    color: #FF5F00;
}
.products-1{
    width: 279px;
    height: 390px;
    background-color: transparent;
    margin-top: 120px;
    margin-left: 100px;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    padding: 12px;
    backdrop-filter: blur(8px);
}

.img-p , .img-p-2, .img-p-3, .img-p-4, .img-p-5, .img-p-6, .img-p-7, .img-p-8, .img-p-9, .img-p-10, .img-p-11, .img-p-12{
    width: 210px;
    height:135px ;
    background-color: #d9d9d9;
    border-radius: 15px;
    margin-left:6%;
    margin-top: 20px;
    
}
.precio{
    background-color: #FF5F00;
    width: 100px;
    height: 23px;
    border-radius: 10px;
    text-align: center;
    margin-left: 120px;
    margin-top: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.padre-p-c{
    width: 200px;
    height: 30px;
    margin-top: 140px;
    color: #d9d9d9;
}
#b-mas{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 44px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
.img-b-mas{
    width: 24px;
    height: 24px;
    
}
.img-b-menos{
    width: 24px;
    height: 24px;
    
}
.enviar-carrito{
    width:85%;
    height: 40px;
    border-radius: 16px;
    border: none;
    background-color: #FF5F00;
    color: #fff;
    margin-top: 165px;
    margin-left: 15px;
}

.padre-producto{
    display: flex;
    margin-right: 80px;
}
.products-1-1{
    width: 279px;
    height: 390px;
    background-color: transparent;
    margin-top: 120px;
    margin-left: 100px;
    border-radius: 15px;
    margin-bottom: 50px;
    box-shadow: 0 10px 25px rgba(255, 255, 255, 0.2);
    display: flex;
    flex-direction: column;
    padding: 12px;
}
.padre-p-c-2{
width: 200px;
height: 30px;
margin-top: 140px;
color: #d9d9d9;
}
.precio-2{
    background-color: #FF5F00;
    width: 100px;
    height: 23px;
    border-radius: 10px;
    text-align: center;
    margin-left: 120px;
    margin-top: 12px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}
#b-mas-2{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos-2{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
#b-mas-3{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos-3{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
#b-mas-4{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos-4{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
#b-mas-5{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos-5{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
#b-mas-6{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos-6{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
#b-mas-7{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos-7{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
#b-mas-8{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos-8{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
#b-mas-9{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos-9{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
#b-mas-10{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos-10{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
#b-mas-11{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos-11{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
#b-mas-12{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    margin-top: 20px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
}
#b-menos-12{
    width: 30px;
    height: 17px;
    background-color: #00576A;
    margin-left: 180px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;

}
.enviar-carrito-2{
    margin-top: 130px;
    width:95%;
    height: 40px;
    border-radius: 16px;
    border: none;
    background-color: #FF5F00;
    color: #fff;
}
.padre-producto-2{
    display: flex;
    margin-right: 80px;
}
.padre-producto-3{
    display: flex;
    margin-right: 80px;
}

.ubicacion{
    margin-left: 140px;
    width: 90%;
    margin-bottom: 100px;
    
}
#Ubicación{
    font-size: 96px;
    color: #FF5F00;
}
.ubicacion-tema{
    margin-top: 200px;
    margin-left: 32%;
    margin-bottom: 100px;
}
.iframe-map{
    border-radius: 15px;
    background-color: transparent;
    width: 90%;
    margin:auto;
    height: 600px;
    margin-bottom: 70px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
}
iframe{
    margin-left: 105px;
    margin-top: 60px;
    border-radius: 15px;

}

.info {
    padding: 80px 20px;
    text-align: center;
    background: #1a1f1e;
}

.cards {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 30px;
}

.card {
    background:transparent;
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 10px 25px rgba(173, 173, 173, 0.1);
    width: 280px;
    box-sizing: border-box;
    transition: all 0.3s ease;
    backdrop-filter: blur(16px);
    color: #d9d9d9;
}
.hh{
    font-size: 66px;
    color: #FF5F00;
}
.primer-texto{
    font-size: 22px;
    color: #00576A;
    
}
.primer-icon{
    width: 60px;
    height: 60px;
    color: #FF5F00; 
}


.card:hover {
    transform: translateY(-10px);
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.h{
font-size: 50px;
margin-top: 1px;
margin-left: 20px;
}


.card-principal{
    width: 500px;
    height: 310px;
    position: absolute;
    display: flex;
    justify-content: center;
    border-radius: 20px;
    backdrop-filter: blur(5px);
    margin-top: 330px;
    margin-left: 30px;
    align-items: center;
}

#cantidad {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}
#cantidad-2 {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}
#cantidad-3 {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}
#cantidad-4 {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}
#cantidad-5 {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}
#cantidad-6 {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}
#cantidad-7 {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}
#cantidad-8 {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}
#cantidad-9 {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}
#cantidad-10 {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}
#cantidad-11 {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}
#cantidad-12 {
    color: #fff;
    font-size: 16px;
    margin-left: 190px;
    margin-top: 12px;
}