body{
    background-color: #E6FAFF;
}
form{
    width: 379px;
    height: 500px;
    background-color: #fff;
    margin: auto;
    margin-top: 160px;
    border-radius: 20px;
    box-sizing: border-box;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
    padding: 12PX;
    transition: all 2s ease;
}
h1{
    font-family:'Montserrat', sans-serif;
    text-align: center;
    font-size: 43px;
}
.google-icon{
    height: 38px;
    width: 38px;
    
    
}
button{
    
    margin-top: 60px;
    width: 88%;
    margin-left: 20px;
    font-family: 'montserrat',sans-serif;
    border-radius: 16px;
    color: #fff;
    background-color: #00576A;
    display:flex;
    border: none;
    
}
p{
    margin-top:10px ;
    margin-left: 20px;
    
}
.Or{
    margin-top: 40px;
    margin-left: 48%;
    font-family:'Montserrat', sans-serif;
    
}

.input-email{
    width: 88%;
    display: flex;
    margin-top: 40px;
    font-family: 'montserrat',sans-serif;
    border-radius: 16px;
    color: #fff;
    background-color: #00576A;
    margin-left: 20px;
    height: 44px;
    color: #fff;
    text-align: center;
    border: none;
    
}
.input-submit{
    margin-top: 65px;
    margin-left: 26%;
    width: 163px;
    height: 44px;
    border-radius:16px ;
    background-color:#0085A3 ;
    color: #fff;
    border: none;
}


