<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS'FERRETERY</title>
    <link rel="stylesheet" href="/public/css/proyecto.css">
</head>
<body>
    
    <header>
        <nav class="nav">
            <div class="menu">
                <ul>
                    <li class="nav-items-logo">hola</li>
                    <li class="nav-items-inicio"><a href="inicio.html" class="a-2">Inicio</a></li>
                    <li class="nav-items-catalogo"><a href="/catalogo pagina/catalogo.html" class="a-2">Catálogo</a></li>
                    <li class="nav-items-ubicacion"><a href="/ubicacion pagina/ubicacion.html" class="a-2">Ubicación</a></li>
                    <input type="search" class="nav-items-buscador" placeholder="Buscar">
                    <img src="/public/img/search.png" class="nav-items-search">
                    <div class="nav-items-register"><a href="/view/layouts/register.html">Register</a></div>
                    <div class="nav-items-login"><a href="/view/layouts/login.html">Login</a></div>
                </ul>
            </div>
        </nav>
    </header>


    
</body>
</html>