{{>head}}
{{>navbar}}
<div class="card-principal">
  <h2 class="h">
    TODO LO QUE NECESITAS<br> PARA TUS PROYECTOS<br> EN UN SOLO LUGAR
  </h2>
  <button class="button-c"><a class="p-catalogo" href="#catalogo-p">Ir al catálogo</a></button>
</div>


<img class="fondo-img" src="/img/fondo'2.jpg" loading="lazy">

<main>
  <section class="info">
    <h2 id="hh">¿Por qué elegirnos?</h2>
    <div class="cards">
      <div class="card">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="primer-icon">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1  3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.    598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />
        </svg>
        <p class="primer-texto">Calidad garantizada</p><br>
        <p class="text">Ofrecemos herramienta y servicios de la más alta Calidad</p>
      </div>
      <div class="card">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor"
          class="primer-icon">
          <path stroke-linecap="round" stroke-linejoin="round"
            d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
          <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
        </svg>


        <p class="primer-texto">Precios competitivos </p><br>
        <p class="text">Encuentra las mejores ofertas para tus necesidades</p>
      </div>
      <div class="card">
        <img class="primer-icon" src="/img/truck.png">
        <p class="primer-texto">Entrega rápida</p><br>
        <p class="text">Envios rapidos y seguros hasta tu puerta</p>
      </div>
    </div>
  </section>
  <div class="div-padre">
    <div class="div-hijo-1">

    </div>

    <div class="div-hijo-2">

    </div>
  </div>

  <div class="catalogo-tema">
    <p id="catalogo-p">Catálogo</p>
  </div>
  <div class="container">
    <div class="padre-producto row g-3">
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="products-1">
          <div class="img-p">
            <div class="padre-p-c">
              <p class="Categoría-1">Martillo</p>
              <div class="precio">
                <p class="precio-number">RD$350</p>
              </div>
            </div>
          </div>
          <button id="b-mas">
            <img class="img-b-mas" src="/img/flecha-arriba.png">
          </button>
          <span id="cantidad">0</span>
          <button id="b-menos">
            <img class="img-b-menos" src="/img/flecha-bajo.png">
          </button>
          <button class="enviar-carrito">Añadir al carrito</button>
        </div>
      </div>

      <!-- Tarjeta 2 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="products-1-1">
          <div class="img-p-2">
            <div class="padre-p-c-2">
              <p class="Categoría">Llave ajustable</p>
              <div class="precio-2">
                <p class="precio-number">RD$280</p>
              </div>
            </div>
          </div>
          <button class="b-mas-2">
            <img class="img-b-mas" src="/img/flecha-arriba.png">
          </button>
          <span class="cantidad-2">0</span>
          <button class="b-menos-2">
            <img class="img-b-menos" src="/img/flecha-bajo.png">
          </button>
          <button class="enviar-carrito-2">Añadir al carrito</button>
        </div>
      </div>

      <!-- Tarjeta 3 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="products-1-1">
          <div class="img-p-3">
            <div class="padre-p-c-2">
              <p class="Categoría">Alicate</p>
              <div class="precio-2">
                <p class="precio-number">RD$220</p>
              </div>
            </div>
          </div>
          <button class="b-mas-2">
            <img class="img-b-mas" src="/img/flecha-arriba.png">
          </button>
          <span class="cantidad-2">0</span>
          <button class="b-menos-2">
            <img class="img-b-menos" src="/img/flecha-bajo.png">
          </button>
          <button class="enviar-carrito-2">Añadir al carrito</button>
        </div>
      </div>

      <!-- Tarjeta 4 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="products-1-1">
          <div class="img-p-4">
            <div class="padre-p-c-2">
              <p class="Categoría">Destornillador</p>
              <div class="precio-2">
                <p class="precio-number">RD$150</p>
              </div>
            </div>
          </div>
          <button class="b-mas-2">
            <img class="img-b-mas" src="/img/flecha-arriba.png">
          </button>
          <span class="cantidad-2">0</span>
          <button class="b-menos-2">
            <img class="img-b-menos" src="/img/flecha-bajo.png">
          </button>
          <button class="enviar-carrito-2">Añadir al carrito</button>
        </div>
      </div>

      <!-- Tarjeta 5 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="products-1-1">
          <div class="img-p-5">
            <div class="padre-p-c-2">
              <p class="Categoría">Cinta métrica</p>
              <div class="precio-2">
                <p class="precio-number">RD$200</p>
              </div>
            </div>
          </div>
          <button class="b-mas-2">
            <img class="img-b-mas" src="/img/flecha-arriba.png">
          </button>
          <span class="cantidad-2">0</span>
          <button class="b-menos-2">
            <img class="img-b-menos" src="/img/flecha-bajo.png">
          </button>
          <button class="enviar-carrito-2">Añadir al carrito</button>
        </div>
      </div>

      <!-- Tarjeta 6 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="products-1-1">
          <div class="img-p-6">
            <div class="padre-p-c-2">
              <p class="Categoría">Cutter</p>
              <div class="precio-2">
                <p class="precio-number">RD$120</p>
              </div>
            </div>
          </div>
          <button class="b-mas-2">
            <img class="img-b-mas" src="/img/flecha-arriba.png">
          </button>
          <span class="cantidad-2">0</span>
          <button class="b-menos-2">
            <img class="img-b-menos" src="/img/flecha-bajo.png">
          </button>
          <button class="enviar-carrito-2">Añadir al carrito</button>
        </div>
      </div>

      <!-- Tarjeta 7 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="products-1-1">
          <div class="img-p-7">
            <div class="padre-p-c-2">
              <p class="Categoría">Taladro in</p>
              <div class="precio-2">
                <p class="precio-number">RD$3,500</p>
              </div>
            </div>
          </div>
          <button class="b-mas-2">
            <img class="img-b-mas" src="/img/flecha-arriba.png">
          </button>
          <span class="cantidad-2">0</span>
          <button class="b-menos-2">
            <img class="img-b-menos" src="/img/flecha-bajo.png">
          </button>
          <button class="enviar-carrito-2">Añadir al carrito</button>
        </div>
      </div>

      <!-- Tarjeta 8 -->
      <div class="col-12 col-sm-6 col-lg-3">
        <div class="products-1-1">
          <div class="img-p-8">
            <div class="padre-p-c-2">
              <p class="Categoría">Juego de llaves</p>
              <div class="precio-2">
                <p class="precio-number">RD$850</p>
              </div>
            </div>
          </div>
          <button class="b-mas-2">
            <img class="img-b-mas" src="/img/flecha-arriba.png">
          </button>
          <span class="cantidad-2">0</span>
          <button class="b-menos-2">
            <img class="img-b-menos" src="/img/flecha-bajo.png">
          </button>
          <button class="enviar-carrito-2">Añadir al carrito</button>
        </div>
      </div>

    </div><!-- cierra padre-producto row -->



  </div>
  <div class="btn_ver"><a class="a" href="/catalogo">Ver Más</a></div>
</main>
<script src="/js/proyecto.js"></script>

{{>seccion-materiales}}
{{>footer}}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>

</body>

</html>