<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS'FERRETERY</title>
    <link rel="stylesheet" href="/public/css/proyecto.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div class="fondo">
        <ul>
            <li class="nav-items-logo"><img id="logo" src="/public/img/logo-2.png" alt="no carga"></li>
            <li class="nav-items-sobre"><a href="/view/layouts/index.html" class="a-2">Sobre Nosotros</a></li>
            <li class="nav-items-catalogo"><a href="/catalogo pagina/catalogo.html" class="a-2">Catálogo</a></li>
            <li class="nav-items-ubicacion"><a href="/ubicacion pagina/ubicacion.html" class="a-2">Ubicación</a></li>
            <div class="RL">
                <div class="nav-items-register"><a href="/view/layouts/register.html"><p class="register">Register</p></a></div>
                <div class="nav-items-login"><a href="/view/layouts/login.html"><p class="login">Login</p></a></div>
            </div>
        </ul>
        <div class="card-principal">
            <h2 class="h">
                TODO LO QUE NECESITAS<br> PARA TUS PROYECTOS<br> EN UN SOLO LUGAR
            </h2>
        </div>

        <div class="button-c"><a class="p-catalogo" href="#catalogo-p">Ir al catálogo</a></div>
        <img class="fondo-img" src="/public/img/fondo'2.jpg" loading="lazy">
        
        <main>
                <section class="info">
                    <h2 class="hh">¿Por qué elegirnos?</h2>
                    <div class="cards">
                        <div class="card">
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"              stroke="currentColor" class="primer-icon">
                            <path stroke-linecap="round" stroke-linejoin="round" d="M9 12.75 11.25 15 15 9.75m-3-7.036A11.959 11.959 0 0 1  3.598 6 11.99 11.99 0 0 0 3 9.749c0 5.592 3.824 10.29 9 11.623 5.176-1.332 9-6.03 9-11.622 0-1.31-.21-2.571-.    598-3.751h-.152c-3.196 0-6.1-1.248-8.25-3.285Z" />  
                            </svg>
                            <p class="primer-texto">Calidad garantizada</p><br><p>Ofrecemos herramienta y servicios de la más alta Calidad</p>
                        </div>
                        <div  class="card"> 
                            <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"  stroke="currentColor" class="primer-icon">
                                <path stroke-linecap="round" stroke-linejoin="round" d="M9.568 3H5.25A2.25 2.25 0 0 0 3 5.25v4.318c0 .597.237 1.17.659 1.591l9.581 9.581c.699.699 1.78.872 2.607.33a18.095 18.095 0 0 0 5.223-5.223c.542-.827.369-1.908-.33-2.607L11.16 3.66A2.25 2.25 0 0 0 9.568 3Z" />
                                <path stroke-linecap="round" stroke-linejoin="round" d="M6 6h.008v.008H6V6Z" />
                        </svg>


                            <p class="primer-texto">Precios competitivos </p><br><p>Encuentra las mejores ofertas para tus necesidades</p>
                        </div>
                        <div class="card"> 
                        <img class="primer-icon" src="/public/img/truck.png" >
                            <p class="primer-texto">Entrega rápida</p><br><p>Envios rapidos y seguros hasta tu puerta</p></div>
                    </div>
                </section>
        <div>
            <div class="div-padre">
                <div class="div-hijo-1">

                </div ">

                <div class=" div-hijo-2">

            </div>
        </div>

        <div class="catalogo-tema">
            <p id="catalogo-p">Catálogo</p>
        </div>
        <div class="padre-producto">
            <div class="products-1">
                <div class="img-p">
                    <div class="padre-p-c">
                        <p class="Categoría">Categoría</p>
                        <div class="precio">
                        <p class="precio-number">100.00</p>
                        </div>
                </div>
                    <button class="b-mas">
                        <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                    </button>
                    <button class="b-menos">
                        <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                    </button>
                </div>

                <button class="enviar-carrito">
                    Añadir al carrito
                </button>

            </div>




            <div class=" products-1-1">
                <div class="img-p-2">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-3">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>
            

                <div class=" products-1-1">
                <div class="img-p-4">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            
        </div>

        <div class="padre-producto-2">
            <div class=" products-1-1">
                <div class="img-p-5">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-6">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-7">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-8">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            
        </div>

        <div class="padre-producto-3">
            <div class=" products-1-1">
                <div class="img-p-9">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-10">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-11">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-12">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

        </div>

        <div class="ubicacion">
            <div class="ubicacion-tema">
                <p id="Ubicación">Ubicación</p>
            </div>
        </div>
            <div class="iframe-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.63583342379!2d-70.68770842470788!3d19.42813438185031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb1cf13c66441fb%3A0x95f5e7befce001bf!2sFerreteria%20La%20Cruz!5e0!3m2!1ses-419!2sdo!4v1776010967326!5m2!1ses-419!2sdo" width="85%" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        
    </main>
    </div>
    


    
</body>
</html>