<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AS'FERRETERY</title>
    <link rel="stylesheet" href="/public/css/inicio.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap"
        rel="stylesheet">
</head>

<body>

    <header>
        <nav class="nav">
            <div class="menu">
                <ul>
                    <li class="nav-items-logo">LOGO</li>
                    <li class="nav-items-inicio"><a href="/view/layouts/inicio.html" class="a-2">Inicio</a></li>
                    <li class="nav-items-catalogo"><a href="#catalogo-p" class="a-2">Catálogo</a></li>
                    <li class="nav-items-ubicacion"><a href="#Ubicación" class="a-2">Ubicación</a></li>
                    <input type="search" class="nav-items-buscador" placeholder="Buscar">
                    <img src="/public/img/search.png" class="nav-items-search">
                    <div class="menu-img">
                        <img class="whatsapp" src="/public/img/whatsapp-logo-whatsapp-icon-whatsapp-transparent-free-png.webp">
                        <img class="carrito" src="/public/img/shopping.png">
                        <img class="user" src="/public/img/account.png">
                    </div>
                </ul>
            </div>
        </nav>
    </header>

    <main>

        <div>
            <h1>Sobre Nosotros</h1>
            <div class="div-padre">
                <div class="div-hijo-1">

                </div ">

                <div class=" div-hijo-2">

            </div>
        </div>

        <div class="catalogo-tema">
            <p id="catalogo-p">Catálogo</p>
        </div>
        <div class="padre-producto">
            <div class="products-1">
                <div class="img-p">
                    <div class="padre-p-c">
                        <p class="Categoría">Categoría</p>
                        <div class="precio">
                        <p class="precio-number">100.00</p>
                        </div>
                </div>
                    <button class="b-mas">
                        <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                    </button>
                    <button class="b-menos">
                        <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                    </button>
                </div>

                <button class="enviar-carrito">
                    Añadir al carrito
                </button>

            </div>




            <div class=" products-1-1">
                <div class="img-p-2">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-3">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img//public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>
            

                <div class=" products-1-1">
                <div class="img-p-4">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            
        </div>

        <div class="padre-producto-2">
            <div class=" products-1-1">
                <div class="img-p-5">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-6">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-7">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-8">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            
        </div>

        <div class="padre-producto-3">
            <div class=" products-1-1">
                <div class="img-p-9">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-10">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-11">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

            <div class=" products-1-1">
                <div class="img-p-12">
                    <div class="padre-p-c-2">
                        <p class="Categoría">Categoría</p>
                        <div class="precio-2">
                            <p class="precio-number">100.00</p>
                        </div>

                        <button class="b-mas-2">
                            <img class="img-b-mas" src="/public/img/flecha-arriba.png">
                        </button>
                        <button class="b-menos-2">
                            <img class="img-b-menos" src="/public/img/flecha-bajo.png">
                        </button>
                    </div>

                    <button class="enviar-carrito-2">
                        Añadir al carrito
                    </button>

                </div>
            </div>

        </div>

        <div class="ubicacion">
            <div class="ubicacion-tema">
                <p id="Ubicación">Ubicación</p>
            </div>
        </div>
            <div class="iframe-map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3762.63583342379!2d-70.68770842470788!3d19.42813438185031!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8eb1cf13c66441fb%3A0x95f5e7befce001bf!2sFerreteria%20La%20Cruz!5e0!3m2!1ses-419!2sdo!4v1776010967326!5m2!1ses-419!2sdo" width="85%" height="480" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        
    </main>

    <footer>
        
    </footer>


</body>

</html>