{{>head}}
    <!-- Envía las credenciales por POST a la ruta /login de mi servidor -->
    <form action="/login" method="POST">
        <h1 class="l">Login</h1>
        <div>
            <!-- nombre en req.body (lo dejo opcional para el login) -->
            <input class="input-nombre" name="nombre" type="text" placeholder="Nombre">
        </div>
        

        <div>
            <!-- email es la variable para el correo electrónico en req.body -->
            <input class="input-email" name="email" type="email" placeholder="Correo Electronico" required></input>
        </div>

        <div>
            <!-- password es la variable para la contraseña en req.body -->
            <input class="input-password" name="password" type="password" placeholder="Password" required></input>
        </div>

        <div>
            <!-- Botón para mandar las credenciales e iniciar sesión -->
            <input class="input-submit" type="submit" value="Iniciar Sesión">
        </div>

        <div>
            <p class="p-2">¿No tienes una cuenta?<a href="/register"> Regístrate</a></p>
        </div>

        
    </form>
</body>
</html>