{{>head}}
    <!-- Envía los datos por POST a la ruta /register de mi servidor -->
    <form action="/register" method="POST">
        <h1 class="l">Register</h1>
        <div>
            <!-- nombre es la variable que va a recibir mi servidor en req.body -->
            <!-- required hace obligatorio rellenar el campo antes de registrarse -->
            <input class="input-nombre" name="nombre" type="text" placeholder="Nombre" required>
        </div>
        

        <div>
            <!-- email es la variable para el correo -->
            <input class="input-email" name="email" type="email" placeholder="Correo Electronico" required>
        </div>

        <div>
            <!-- password es la variable para la contraseña -->
            <input class="input-password" name="password" type="password" placeholder="Password" required>
        </div>

        <div>
            <!-- Botón para mandar el formulario completo -->
            <input class="input-submit" type="submit" value="Registrarse">
        </div>

        <div>
            <p class="p-2">¿Ya tienes una cuenta existente?<a href="/login"> Login</a></p>
        </div>

        
    </form>
</body>
</html>