<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/register.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;1,700&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;1,300&display=swap" rel="stylesheet">
</head>
<body>
    <form>
        <h1>Register</h1>
        <button>
                <img class="google-icon" src="/public/img/Google_Icons.webp" >
                <p>Continua con Google</p>
        </button>

        <div class="Or">
            Or
        </div>

        <div>
            <input class="input-email" type="email" placeholder="Correo Electronico o Nombre"></input>
        </div>

        <div>
            <input  class="input-submit" type="submit">
        </div>
    </form>
</body>
</html>